html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
}

a {
  color: #f300e7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

button:hover {
  color: lightgray;
}
button:active,
button:focus {
  outline: none;
}